// Biến màu sắc
$primary-color: #1976d2;
$secondary-color: #dc004e;
$background-color: #f4f6f8;
$text-color: #333;
$white-color: #fff;
$border-color: #ccc;
$error-color: #d32f2f;
$success-color: #2e7d32;

// Biến font
$font-family: "Roboto", sans-serif;

// Biến khác
$border-radius: 8px;
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
